@model lab1_AS.Models.Student

<h1>@Model.Imie @Model.Nazwisko</h1>
<p>
    Numer indeksu: @Model.NumerIndeksu.ToString();
</p>
<p>
    Data urodzenia: @Model.DataUrodzenia.ToShortDateString()
</p>
<p>
    Kierunek studiów: @Model.Kierunek
</p>